<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> <button class="navbar-toggler" type="button"
            data-target="#navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"> <a href="{{ url_for('home') }}" class="nav-link"> Home </a> </li>
                <li class="nav-item"> <a href="{{ url_for('randomize') }}" class="nav-link"> Randomize </a> </li>
                <li class="nav-item"> <a href="{{ url_for('suggestions') }}" class="nav-link"> Suggestions </a> </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse order-3">
            {% if logged_in %}
            <ul class="navbar-nav ml-auto">
                <a href="{{ profile_url }}" class="nav-link ml-auto">
                    <img src="{{ image }}" width="40" heigth="40" class="rounded ml-auto">
                </a>
                <li class="nav-item"> <a href="{{ url_for('logout') }}" class="nav-link"> Logout </a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"> <a href="{{ url_for('login') }}" class="nav-link"> Login </a> </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    <div class="contianer">
        {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>