{% extends 'base.html' %}

{% block title %}
Error
{% endblock %}

{% block content %}
<div class="alert alert-warning" role="alert">
    Error: Unable to access spotify. Please <a href="{{ url_for('login') }}" class="alert-link">log in.</a>
    <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<h1>Hello world!</h1>
{% endblock %}