{% extends 'base.html' %}

{% block title %}
Processing...
{% endblock %}

{% block content %}

<head>
    <script>
        var source = new EventSource("{{ url_for('progress') }}");
        source.onmessage = function (event) {
            $('.progress-bar').css('width', event.data + '%').attr('aria-valuenow', event.data);
            $('.progress-bar-label').text(event.data + '%');

            if (event.data >= 100) {
                source.close()
                window.location.replace("{{ url_for('home') }}")
            }
        }
    </script>
</head>

<p class="text-left">Shuffling liked songs...</p>
<div class="progress" style="width: 50%; margin: 50px;">
    <div class="progress-bar progress-bar-striped progress-bar-animated active" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span class="progress-bar-label">0%</span>
    </div>
</div>

{% endblock %}