{% extends 'base.html' %}

{% block title %}
Randomize
{% endblock %}

{% block content %}
<div class="ml-4">
    <h1>Randomize</h1>
    <p>
        Spotify's shuffle is
        <a href="https://medium.com/immensity/how-spotifys-shuffle-algorithm-works-19e963e75171">
            not truly random
        </a>,
        which annoys me. So to fix that, this tool will take all of your "liked" songs,
        <b>truly randomly shuffles them</b>, and then place them into a playlist.
    </p>
    <p class="text-danger">
        Warning: this will replace any playlist you have with the same name! Be careful!
    </p>
    <form method="post">
        <div class="form-group col-sm-3">
            <label for="playlist_name">Playlist name:</label>
            <input type="text" class="form-control" name="playlist_name" id="playlist_name" value="[auto] SHUFFLE">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}