{% extends 'base.html' %}

{% block title %}
Suggestions
{% endblock %}

{% block scripts %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
{% endblock %}

{% block content %}
<div class="ml-4">
    <h1>Suggestions</h1>
    <p>

    </p>
    <p class="text-danger">
        Warning: this will replace any playlist you have with the same name! Be careful!
    </p>
    <form method="post">
        <div class="form-group col-sm-3">
            <label for="playlist_name">Playlist name:</label>
            <input type="text" class="form-control" name="playlist_name" id="playlist_name" value="[auto] Suggestions">
        </div>

        <div class="form-group col-sm-3">
            <label>Artists:</label>
            <div class="form-row">
                <input type="text" class="form-control" placeholder="Artist" name="artists">
                <input type="text" class="form-control" placeholder="Artist" name="artists">
                <input type="text" class="form-control" placeholder="Artist" name="artists">
                <input type="text" class="form-control" placeholder="Artist" name="artists">
                <input type="text" class="form-control" placeholder="Artist" name="artists">
            </div>
        </div>

        <div class="form-group col-sm-3">
            <label>Tracks:</label>
            <div class="form-row">
                <input type="text" class="form-control" placeholder="Track" name="tracks">
                <input type="text" class="form-control" placeholder="Track" name="tracks">
                <input type="text" class="form-control" placeholder="Track" name="tracks">
                <input type="text" class="form-control" placeholder="Track" name="tracks">
                <input type="text" class="form-control" placeholder="Track" name="tracks">
            </div>
        </div>

        <div class="form-group col-sm-3">
            <label>Genres</label>
            <div class="form-row">
                <select class="form-control selectpicker" name="genres" multiple data-max-options="5">
                    {% for genre in genre_list %}
                    <option value="{{genre}}">{{genre}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary ml-2">Submit</button>
    </form>
</div>
{% endblock %}